<head>
    <title>View Patients</title>
</head>

<body>
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h1>View Patients</h1>

                <br>
                <table>

                    <tr>

                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>PhoneNumber</th>
                        <th>patientEmail</th>
                    </tr>
                    <!-- loop through the patients array and display each patient -->
                    <% for (var i = 0; i < patients.length; i++) { %>
                    <tr>

                        <td><a href="/doctor/viewPatientDetails/<%= patients[i].patientUserName %>"><%= patients[i].FirstName %></a></td>
                        <td><%= patients[i].LastName %></td>
                        <td><%= patients[i].patientAge %></td>
                        <td><%= patients[i].patientGender %></td>
                        <td><%= patients[i].patientAddress %></td>
                        <td><%= patients[i].patientPhoneNumber %></td>
                        <td><%= patients[i].patientEmail %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>